@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@using Microsoft.AspNetCore.Components.Forms
@using YogIT.Module.CloudN.Services
@using YogIT.Module.CloudN.Models

@namespace YogIT.Module.CloudN
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer
@inject ISettingService SettingService

<form @ref="form" class="@(validated ? " was-validated" : "needs-validation" )" novalidate>
    @if (string.IsNullOrEmpty(SettingService.GetSetting(ModuleState.Settings, "StorageName", "")))
    {
        <div class="alert alert-info" role="alert">@Localizer["Message.ConfigureModule"]</div>
    }
    else
    {
        if (_containers == null)
        {
            <div>Loading...</div>
        }
        else
        {
            <div class="container">
                @if (_canChangeContainer)
                {
                    <div class="row mb-3">
                        <Label Class="col-lg-2" For="containerSelect" HelpText="Please select the container in the Azure Storage Account you would like to upload to." ResourceKey="SelectContainer">Select Container: </Label>
                        <div class="col-lg-10">
                            <select id="containerSelect" @bind="_selectedContainer" class="form-select w-75">
                                @foreach (var container in _containers)
                                {
                                    <option value="@container">@container</option>
                                }
                            </select>
                        </div>
                    </div>                    
                }
                <div class="row mb-3">
                    <Label Class="col-lg-2 mb-2" For="name" HelpText="Select the file you would like to upload" ResourceKey="File">Select File: </Label>
                    <div class="col-lg-10">
                        <InputFile @key=(_inputFileId) class="form-control" multiple OnChange="@GetFileList" />
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" @onclick="UploadFiles">@Localizer["Upload"]</button>
            if (_uploading)
            {
                <div>Uploading...</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @_uploadProgress%"></div>
                </div>
            }
            if (_fileUrl.Count > 0)
            {
                <h3>Last Uploaded</h3>
                @foreach(string url in _fileUrl)
                {
                    <div class="card-title text-truncate"><CopyToClipboard Text="@url" IconName="clipboard" ClientId="@($"copied{@url}")" /></div>
                }
            }
        }
    }
</form>

@code {
    // uncomment the following line to use Static render mode for this component
    // public override string RenderMode => RenderModes.Static;

    private ElementReference form;
    private bool validated = false;
    private List<string> _containers = new List<string>();
    private string _selectedContainer;
    private string _defaultPath = string.Empty;
    private bool _uploading = false;
    private List<IBrowserFile> _files;
    private string _inputFileId = Guid.NewGuid().ToString();
    private int _uploadProgress;
    private BlobServiceClient _blobServiceClient;
    private List<string> _fileUrl = new List<string>();
    private bool _canChangeContainer = false;
    private long _maxFileSize;

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = ModulePath() + "Module.js" }
    };

    protected override async Task OnInitializedAsync()
    {

        try
        {
            // get the containers
            if (!string.IsNullOrEmpty(SettingService.GetSetting(ModuleState.Settings, "StorageName", "")))
            {
                string connectionString = $"DefaultEndpointsProtocol=https;AccountName={SettingService.GetSetting(ModuleState.Settings, "StorageName", "")};AccountKey={SettingService.GetSetting(ModuleState.Settings, "StorageKey", "")};EndpointSuffix=core.windows.net";
                _blobServiceClient = new BlobServiceClient(connectionString);
                await LoadContainersAsync();
            }
            if (!string.IsNullOrEmpty(SettingService.GetSetting(ModuleState.Settings, "AllowContainerChange", "")))
            {
                _canChangeContainer = bool.Parse(SettingService.GetSetting(ModuleState.Settings, "AllowContainerChange", ""));
            }
            if (!string.IsNullOrEmpty(SettingService.GetSetting(ModuleState.Settings, "DefaultContainer", "")))
            {
                _selectedContainer = SettingService.GetSetting(ModuleState.Settings, "DefaultContainer", "");
            }

            if (!string.IsNullOrEmpty(SettingService.GetSetting(ModuleState.Settings, "DefaultPath", "")))
            {
                _defaultPath = SettingService.GetSetting(ModuleState.Settings, "DefaultPath", "") + '/';
            }

            long.TryParse(SettingService.GetSetting(ModuleState.Settings, "MaxFileSize", "268435456"), out _maxFileSize);

        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading CloudN {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private void GetFileList(InputFileChangeEventArgs e)
    {
        _files = e.GetMultipleFiles().ToList();
    }

    private async Task LoadContainersAsync()
    {
        await foreach (BlobContainerItem containerItem in _blobServiceClient.GetBlobContainersAsync())
        {
            _containers.Add(containerItem.Name);
        }
    }

    private async Task UploadFiles()
    {
        try
        {
            validated = true;
            _uploading = true;
            var interop = new Oqtane.UI.Interop(JSRuntime);
            if (await interop.FormValid(form))
            {
                foreach (var file in _files)
                {

                    BlobContainerClient containerClient = _blobServiceClient.GetBlobContainerClient(_selectedContainer);
                    BlobClient blobClient = containerClient.GetBlobClient(_defaultPath + file.Name);

                    using (var stream = file.OpenReadStream(_maxFileSize))
                    {
                        var progressHandler = new Progress<long>(progress =>
                        {
                            _uploadProgress = (int)((progress * 100) / stream.Length);
                            StateHasChanged();
                        });
                        await blobClient.UploadAsync(stream, new Azure.Storage.Blobs.Models.BlobUploadOptions
                            {
                                ProgressHandler = progressHandler
                            });
                        _fileUrl.Add(blobClient.Uri.AbsoluteUri);
                    }

                    await logger.LogInformation($"Uploaded File {file.Name} to {blobClient.Uri.AbsoluteUri} ({file.Size:N0}) bytes");

                }
                _inputFileId = Guid.NewGuid().ToString();
                AddModuleMessage(Localizer["Message.UploadComplete"], MessageType.Success);
            }
            else
            {
                AddModuleMessage(Localizer["Message.UploadValidation"], MessageType.Warning);
            }
            _uploading = false;
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Uploading File: {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.UploadError"], MessageType.Error);
        }
    }
}